@page
@model Movie.Pages.Theaters.IndexModel

@{
    ViewData["Title"] = "Theaters";
}
<h1>Theaters</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Location: <select asp-for="TheaterLocation" asp-items="Model.Locations">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Theater[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theater[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theater[0].ImaxAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Theater) {
        <tr>
            <td>
                <a asp-page="../Showtimes/Index" asp-route-TheaterLocation="@item.Location">@Html.DisplayFor(modelItem => item.Location)</a>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImaxAvailable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
